.wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Formula-One-Regular';
    gap: 16px;
    padding: 24px 72px;
    width: 960px;
}

.yearNavigation {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.yearNavigation span {
    cursor: pointer;
    font-size: 2rem;
}